.App {
  background-color: #f5f5f5;
  max-height: 100vh;
  /* height: auto; */
  overflow: hidden;
}

.App_heading {
  padding: 20px;
  background-color: black;
  color: white;
}

.App_bodyhead {
  font-size: 18px;
  padding-bottom: 10px;
}

.App_body {
  padding-left: 10%;
  padding-top: 25px;
}

.App_bodyarea {
  position: relative;
  padding: 10px;
  padding-left: 0px;
  width: fit-content;
  height: 34vh;
  overflow: scroll;
  padding-bottom: 300px;
}

.ResultCard {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 20px;
  width: fit-content;
  background-color: white;
  margin-bottom: 10px;
}

.ResultCard_top {
  /* display: flex; */
  align-items: center;
}

.ResultCard_head {
  font-size: 18px;
  padding-right: 40px;
  color: #00b5e6;
}

.ResultCard_headlast {
  font-size: 11px;
  color: #989898;
}

.ResultCard_result {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 15px;
  color: #989898;
  justify-content: center;
}

.ResultCard_SAST {
  padding: 10px;
  border-right: 1px solid #dbdbdb;
}

.ResultCard_DAST {
  padding: 10px;
}

.ResultCard_SASThead,
.ResultCard_DASThead {
  padding: 10px 0;
  font-weight: 700;
  font-size: 16px;
  color: black;
}
